@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    width: 100vw;
    font-family: 'Source Code Pro', monospace;
}

.INFO_CLASS
{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    justify-content: center;
    align-items: center;
}
body
{
    text-align: center;
    background-color: #008dff;
    margin: 0;
}
.FLOAT_LEFT
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    margin-right: 15px;
}
h1
{
z-index: 5;
background: rgb(1,144,111);
background: linear-gradient(90deg, rgba(1,144,111,1) 0%, rgba(1,144,111,1) 2%, rgba(1,144,111,1) 4%, rgba(1,144,111,1) 7%, rgba(1,144,111,1) 14%, rgba(0,201,188,1) 20%, rgba(0,201,188,1) 24%, rgba(135,238,237,1) 32%, rgba(251,251,255,1) 41%, rgba(251,251,255,1) 53%, rgba(135,238,237,1) 63%, rgba(0,201,188,1) 72%, rgba(0,201,188,1) 80%, rgba(1,144,111,1) 86%, rgba(1,144,111,1) 90%, rgba(1,144,111,1) 93%, rgba(1,144,111,1) 97%, rgba(1,144,111,1) 100%);
margin: 0;
border-bottom: 5px solid black;
}
.IMG_CLASS
{
    height: 15rem;
}

.COOKIE
{
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.FLOAT_RIGHT
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
}
.HOBBY_CLASS
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.GAMES_CLASS
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
.COOKIE_GAME
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    float: left;
    margin-left: 35%;
}
.COOKIE
{
    float: right;
    width: 15%;
    margin-right: 31%;
    border-radius: 25%;
}
.RAINBOW
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    width: 15%;
    margin-left: auto;
    margin-right: auto; 
    float: left;
    margin-left: 30%;

}
.Games_class
{
    border-radius: 15%;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
}
.RAINBOW_CLASS
{
    float: right;
    width: 15%;
    margin-right: 31%;
    border-radius: 25%;
}

